# Node.js dependencies
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Python environment
.venv
.venv/
venv/
ENV/
env/
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Flask instance folder
instance/

# VSCode settings
.vscode/

# Pytest cache
.cache/

# Flask cache
*.flaskenv

# Logs
logs/
*.log

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output

# Grunt, Bower, and Snowpack
.grunt/
bower_components/
web_modules/

# TypeScript and caching
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history

# Optional build files
*.tgz
.yarn-integrity

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Parcel, Next.js, Nuxt.js, Gatsby, VuePress, Docusaurus
.cache/
.parcel-cache/
.next/
out/
.nuxt/
dist/
.vuepress/dist
.temp/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
